{% for project in projects %}
    <p>
    <strong>titre</strong> : {{ project.title }}<br>
    <strong>description</strong> : {{ project.description }}<br>
    <strong>compétences </strong>: {{ project.skills }}<br>
    </p>
{% endfor %}